<html>
  <head>
    <meta charset='UTF-8' />
    <title>{{name}}</title>
    <link rel='stylesheet' type='text/css' href='/css/user.css' />
  </head>

  <body>
    <div id='page'>
      <h1>{{translate 'users.hello_name' name=name}}</h1>

      <h2>{{translate 'users.fields.identity.title'}}</h2>
      <p><span>{{translate 'users.fields.identity.name'}}:</span>
        {{name}}</p>
      <p><span>{{translate 'users.fields.identity.username'}}:
        </span>{{username}}</p>
      <p><span>{{translate 'users.fields.identity.email'}}: </span>{{email}}</p>
      <p><span>{{translate 'users.fields.identity.phone'}}: </span>{{phone}}</p>
      <p><span>{{translate 'users.fields.identity.website'}}:
        </span>{{website}}</p>

      <h2>{{translate 'users.fields.address.title'}}</h2>
      <p><span>{{translate 'users.fields.address.street'}}:
        </span>{{address.street}}</p>
      <p><span>{{translate 'users.fields.address.city'}}:
        </span>{{address.city}}</p>
      <p><span>{{translate 'users.fields.address.zipcode'}}:
        </span>{{address.zipcode}}</p>

      <h2>{{translate 'users.fields.company.title'}}</h2>
      <p><span>{{translate 'users.fields.company.name'}}:
        </span>{{company.name}}</p>
      <p><span>{{translate 'users.fields.company.catchPhrase'}}:
        </span>{{company.catchPhrase}}</p>

      <h2>{{translate 'users.fields.pets.title' smart_count=pets.length}}</h2>
      <ul>
        {{#each pets}}
          <li>{{this}}</li>
        {{/each}}
      </ul>

    </div>
  </body>
</html>
