<html>
  <head>
    <meta charset='UTF-8' />
    <title>{{name}}</title>
    <link rel='stylesheet' type='text/css' href='/css/index.css' />
  </head>

  <body>
    <div id='page'>
      <h1>Hello {{name}}!</h1>

      <h2>Identity</h2>
      <p>Name: {{name}}</p>
      <p>Username: {{username}}</p>
      <p>Email: {{email}}</p>

      <h2>Address</h2>
      <p>Street: {{address.street}}</p>
      <p>Suite: {{address.suite}}</p>
      <p>City: {{address.city}}</p>
      <p>Zipcode: {{address.zipcode}}</p>
      <p>Phone: {{phone}}</p>
      <p>Website: {{website}}</p>

      <h2>Company:</h2>
      <p>Name: {{company.name}}</p>
      <p>Catch phrase: {{company.catchPhrase}}</p>

    </div>
  </body>
</html>
